<h1>動画一覧</h1>
<%= link_to "コンテンツ新規登録",new_content_path,class:"btn btn-primary"%>

<div class="mb-3">
  <table class="table table-hover">
    <tbody>
      <% @contents.each do |content| %>
        <tr>
          <td><%= link_to content.title, content %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
