<h1>コンテンツ新規登録</h1>

<%= form_with(model:@content,local:true) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :title,class: 'form-control'%>
  </div>
  <%= f.submit "コンテンツ投稿",class:"btn btn-primary"%>
<% end %>
