<div class="top text-center">
  <h1>スタディシェア</h1>
  <p>学んだことをシェアするアプリです。</p>
  <p>・アウトプットで記憶に定着</p>
  <p>・メッセージ機能で勉強仲間を見つけてモチベーションの維持</p>
  <div class="mb-3"><%=link_to "新規登録", new_admin_user_path, class: "btn btn-lg btn-primary"%></div>
  <p><%=link_to "ログイン",login_path, class: "btn btn-lg btn-primary"%></p>
</div>





