<div class="top text-center">
  <h1>サンクスツイート</h1>
  <p>感謝を呟いて、シェアしよう</p>
  <div class="mb-3"><%=link_to "新規登録", new_admin_user_path, class: "btn btn-lg btn-primary"%></div>
  <p><%=link_to "ログイン",login_path, class: "btn btn-lg btn-primary"%></p>
</div>





