
<h1>サンクスツイート</h1>
<h2>感謝を呟いて、シェアしよう</h2>

=======
<h1>サンクスツイート</h1>
<h2>感謝を呟いて、シェアしよう</h2>
>>>>>>> login
<%=link_to "新規登録", new_admin_user_path, class: "btn btn-lg btn-primary"%>
<%=link_to "ログイン","#", class: "btn btn-lg btn-primary"%>
