<div class="top text-center">
  <h1>奢らレイヤーマッチングSNS</h1>
  <p>金欠。話を聞いて欲しい。ご飯奢ってでも話を聞きたい。そんな需要と供給をマッチするサービスです。</p>
  <div class="mb-3"><%=link_to "新規登録", new_admin_user_path, class: "btn btn-lg btn-primary"%></div>
  <p><%=link_to "ログイン",login_path, class: "btn btn-lg btn-primary"%></p>
</div>





