<h1>ユーザー詳細</h1>
<%= link_to "編集",edit_admin_user_path,class:"btn btn-primary"%>
<div class="form-group">
  <table class="table table-hover">
    <tr>
      <th>ユーザー名</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= @user.email %></td>
    </tr>
  </table>
</div>

<div class="mb-3">
  <table class="table table-hover">
    <tbody>
      <% @user.posts.each do |post| %>
        <tr>
          <td><%= link_to post.content, post %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>





